*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

main {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, .4);
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    max-height: 90vh;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    max-width: 500px;
}

::placeholder {
    opacity: .6;
}

section {
    display: flex;
    align-items: flex-end;
}

section input {
    width: 100%;
    padding: .25rem .5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    margin: 0;
    margin-left: .5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: all 100ms ease-in;
}

button:hover {
    transform: scale(1.1)
}

#settings {
    margin: .5rem 0;
    text-align: left;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    color: hsl(0, 0%, 40%);
}

input[type="checkbox"] {
    margin: 0;
}

label {
    user-select: none;
    cursor: pointer;
}

ul {
    flex: 1;
    overflow: auto;
    list-style-type: none;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .75rem 0;
}

li input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .5);
}